<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MO勘.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0AB80BF1E31F56000B1AD07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0AB80D81E31F56100B1AD07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0AB80E31E31F56100B1AD07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
